
<div xmlns:th="http://www.thymeleaf.org" th:fragment="menu" id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Admin interface</div>

        <a class="nav-link" href="/">
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          Dashboard
        </a>

        <div class="sb-sidenav-menu-heading">User interface</div>
        <a class="nav-link" href="/TaskUser">
          <div class="sb-nav-link-icon"><i class="bi bi-card-list"></i></div>
          Задачи
        </a>
        <a class="nav-link" href="/EventUser">
          <div class="sb-nav-link-icon"><i class="bi bi-card-list"></i></div>
          События
        </a>



      </div>
    </div>
    <div class="sb-sidenav-footer">
      Efficient Task Scheduler
    </div>
  </nav>

</div>
